[Desktop Entry]
Name=Egon Animator
Name[pl]=Egon Animator
Comment=Siag Office animation software
Comment[pl]=Program do animacji Siag Office
Exec=egon
Icon=/usr/X11R6/share/siag/common/bitmaps/egon.xpm
Terminal=0
Type=Application
# vi: encoding=utf-8
