[Desktop Entry]
Encoding=UTF-8
Name=Egon Animator
Name[pl]=Egon Animator
Comment=Siag Office animation software
Comment[pl]=Program do animacji Siag Office
Exec=egon
Icon=egon.png
Terminal=false
Type=Application
Categories=Graphics;
# vi: encoding=utf-8
