[Desktop Entry]
Name=Gvu
Name[pl]=Gvu
Comment=Siag Office graphics previewer
Comment[pl]=Przeglądarka graficzna Siag Office
Exec=gvu
Icon=gvu
Terminal=false
Type=Application
Categories=Graphics;Viewer;
# vi: encoding=utf-8
