[Desktop Entry]
Name=Pathetic Writer
Name[pl]=Pathetic Writer
Comment=Siag Office word processor
Comment[pl]=Procesor tekstów Siag Office
Exec=pw
Icon=/usr/X11R6/share/siag/common/bitmaps/pw.xpm
Terminal=0
Type=Application
