[Desktop Entry]
Name=Pathetic Writer
Name[pl]=Pathetic Writer
Comment=Siag Office word processor
Comment[pl]=Procesor tekstów Siag Office
Exec=pw
Icon=pw.png
Terminal=false
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
