[Desktop Entry]
Name=Pathetic Writer
Name[pl]=Pathetic Writer
Comment=Siag Office word processor
Comment[pl]=Procesor tekstów Siag Office
Exec=pw
Icon=pw.xpm
Terminal=0
Type=Application
