[Desktop Entry]
Name=Scheme In A Grid
Name[pl]=Scheme In A Grid
Comment=Siag Office spreadsheet
Comment[pl]=Arkusz kalkulacyjny Siag Office
Exec=siag
Icon=/usr/X11R6/share/siag/common/bitmaps/siag.xpm
Terminal=0
Type=Application
