[Desktop Entry]
Name=Scheme In A Grid
Name[pl]=Scheme In A Grid
Comment=Siag Office spreadsheet
Comment[pl]=Arkusz kalkulacyjny Siag Office
Exec=siag
Icon=siag
Terminal=false
Type=Application
Categories=Office;Spreadsheet;
# vi: encoding=utf-8
