[Desktop Entry]
Name=Xedplus
Name[pl]=Xedplus
Comment=Siag Office text editor
Comment[pl]=Edytor tekstów Siag Office
Exec=xedplus
Icon=xedplus.png
Terminal=0
Type=Application
# vi: encoding=utf-8
