[Desktop Entry]
Name=Xedplus
Name[pl]=Xedplus
Comment=Siag Office text editor
Comment[pl]=Edytor tekstów Siag Office
Exec=xedplus
Icon=xedplus
Terminal=false
Type=Application
Categories=TextEditor;
# vi: encoding=utf-8
