[Desktop Entry]
Name=Xfiler
Name[pl]=Xfiler
Comment=Siag Office file manager
Comment[pl]=Menedżer plików Siag Office
Exec=xfiler
Icon=xfiler.png
Terminal=0
Type=Application
# vi: encoding=utf-8
