[Desktop Entry]
Name=Xfiler
Name[pl]=Xfiler
Comment=Siag Office file manager
Comment[pl]=Menedżer plików Siag Office
Exec=xfiler
Icon=xfiler.png
Terminal=false
Type=Application
Categories=Utility;FileManager;
Encoding=UTF-8
# vi: encoding=utf-8
