[Desktop Entry]
Name=Xfiler
Name[pl]=Xfiler
Comment=Siag Office file manager
Comment[pl]=Mened¿er plików Siag Office
Exec=xfiler
Icon=/usr/X11R6/share/siag/common/bitmaps/xfiler.xpm
Terminal=0
Type=Application
